
.icon-right-left:before { content: '\e800'; } /* '' */
.icon-gear:before { content: '\e801'; } /* '' */
.icon-key:before { content: '\e802'; } /* '' */
.icon-file-lines:before { content: '\e803'; } /* '' */
