
.icon-send:before { content: '\e800'; } /* '' */
.icon-gear:before { content: '\e801'; } /* '' */
.icon-key:before { content: '\e802'; } /* '' */
.icon-file-lines:before { content: '\e803'; } /* '' */
.icon-copy-solid-1:before { content: '\e804'; } /* '' */
.icon-copy:before { content: '\e806'; } /* '' */
.icon-discord:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\e80a'; } /* '' */
.icon-webcash:before { content: '\e80b'; } /* '' */
.icon-circle-xmark:before { content: '\e80c'; } /* '' */
.icon-lock-solid:before { content: '\e80e'; } /* '' */
.icon-unlock-solid:before { content: '\e80f'; } /* '' */
.icon-cloud-arrow-down-solid:before { content: '\e814'; } /* '' */
.icon-download-solid:before { content: '\e816'; } /* '' */
.icon-file-arrow-down-solid:before { content: '\e817'; } /* '' */
.icon-file-arrow-up-solid:before { content: '\e818'; } /* '' */
.icon-lock-open-solid:before { content: '\e819'; } /* '' */
.icon-upload-solid:before { content: '\e81d'; } /* '' */
.icon-cloud-arrow-up-solid:before { content: '\e81e'; } /* '' */
.icon-hammer-solid:before { content: '\e81f'; } /* '' */
.icon-list-check-solid:before { content: '\e820'; } /* '' */
.icon-trash-can-solid:before { content: '\e821'; } /* '' */
.icon-copy-solid:before { content: '\e823'; } /* '' */
