@card-background: #262627;
@text-color: #dbdbdb;
@grey-border: #444;
@lightgrey-border: 1px solid #ddd;
@grey-hover: #2e2e2f;

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-VariableFont_wght.ttf") format("TrueType");
}

body {
    color: @text-color;
    background: #1c1c1c;
}
body, button, .pure-g, .pure-g [class*=pure-u] {
    font-family: "Montserrat";
    letter-spacing: normal;
}

a {
    text-decoration: none;
    color: #1b98f8;
}

#app input {
    background: #505050;
    color: @text-color;
    border: 1px solid #bbb;
    box-shadow: none;
    margin-top: 5px;
    &[type="text"], &[type="number"] {
        min-width: 220px;
    }
}

.ItemTable h2 {
    margin: 20px 0 0 0;
}
.ItemTable table {
    border: 1px solid @grey-border;
    font-family: monospace;
    font-size: 1.1em;
    margin-top: 15px;
    table-layout: fixed;
    // width: 100%;
    word-wrap: break-word;
    td {
        padding: 14px 20px;
        background: inherit;
        border: 1px solid @grey-border;
        &:hover {
            background: @grey-hover;
            cursor: pointer;
        }
    }
    pre {
        margin: 0;
        font-family: monospace;
        font-size: 0.8em;
        line-height: 1.5em;
        white-space: pre-wrap;
    }
}
.BalanceIndicator {
    background: #333;
    border-radius: 8px;
    border: 1px solid @grey-border;
    color: #bbb;
    cursor: default;
    display: inline;
    float: right;
    font-size: 0.85em;
    margin-top: 2px;
    padding: 8px 10px;
}

.menu-divider {
    border-top: 1px solid @grey-border;
    margin-top: 16px;
    padding-top: 23px;
}

#logo {
    color: @text-color;
    display: block;
    font-size: 1.1em;
    margin-left: 0.5em;
    padding: .6em 1em;
    position: absolute;
}

#menuToggle {
    font-size: 2em;
    display: block;
    top: 0em;
    right: 0em;
    position: absolute;
    padding: 0 10px;
    color: @text-color;
}

.connect-file-input {
    display: none;
}

.ButtonConnect {
    margin: 30px 0 0 0;
}

#main .content-info {
    text-align: center;
    padding: 25px;
}

.card {
    background: @card-background;
    color: @text-color;
    padding: 2em;
    h1 {
        margin-top: 0;
    }
}

#ViewWallet {
    .ButtonConnect {
        display: inline;
    }
    .wallet-buttons {
        border-top: 1px solid @grey-border;
        border-bottom: 1px solid @grey-border;
        padding: 5px 0;
        text-align: center;
        .pure-button {
            margin-right: 10px;
        }
        .last-button {
            margin-right: 0;
        }
    }

    .wallet-group {
        border-radius: 8px;
        border: 1px solid @grey-border;
        float: left;
        margin-top: 25px;
        padding: 15px 30px;
        width: 230px;
    }

    .wallet-item {
        line-height: 35px;
        label {
            display: inline-block;
            width: 140px;
        }
    }
    .wallet-item.depth {
        font-size: 0.9em;
    }
}

/*
 * -- HELPER STYLES --
 * Over-riding some of the .pure-button styles to make my buttons look unique
 */
.pure-button {
    box-shadow: none;
    border-radius: 20px;
}
.pure-button {
    color: @text-color;
    border: 1px solid @text-color;
    background: @card-background;
    margin: 1em 0;
    &:hover {
        background: #404040;
        color: white;
        border-color: white;
    }
}
button.unsaved {
    background: green;
    border-color: green;
    &:hover {
        background: #27aa28;
        border-color: #27aa28;
    }
}

#tooltip {
    display: none;
    background: #3c7a47;
    border-radius: 0px;
    box-shadow: 1px 2px 1px #0b3d17;
    color: @text-color;
    font-weight: bold;
    letter-spacing: normal;
    padding: 20px 25px;
    position: fixed;
    z-index: 1;
}

/*
 * -- LAYOUT STYLES --
 * This layout consists of three main elements, `#nav` (navigation bar), `#list` (email list), and `#main` (email content). All 3 elements are within `#layout`
 */
#layout, #nav, #list, #main {
    margin: 0;
    padding: 0;
}

/* Make the navigation 100% width on phones */
#nav {
    width: 100%;
    height: 40px;
    position: relative;
    background: #212121;
    text-align: center;

    /* When "Menu" is clicked, the navbar should be 80% height */
    &.active {
        height: 80%;
    }

    /* Show the "Menu" button on phones */
    .nav-menu-button {
        display: block;
        top: 0.5em;
        right: 0.5em;
        position: absolute;
    }
}
/* Don't show the navigation items... */
.nav-inner {
    display: none;
}

/* ...until the "Menu" button is clicked */
#nav.active .nav-inner {
    display: block;
    padding: 2em 0;
}


/*
 * -- NAV BAR STYLES --
 * Styling the default .pure-menu to look a little more unique.
 */
#nav {
    .pure-menu {
        background: transparent;
        border: none;
        // text-align: left;
    }
    .pure-menu-link {
        color: @text-color;
        margin-left: 0.5em;
        &:hover, &:focus {
            background: @grey-hover;
        }
    }
    .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(75, 113, 151);
    }
    .pure-menu-list {
        margin-top: 5px;
    }
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {

    /* Move the layout over so we can fit the nav + list in on the left */
    #layout {
        padding-left:550px; /* "left col (nav + list)" width */
        position: relative;
    }

    /* These are position:fixed; elements that will be in the left 500px of the screen */
    #nav, #list {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
    }
    #nav {
        margin-left:-550px; /* "left col (nav + list)" width */
        width: 200px;
        height: 100%;
        border-right: 1px solid @grey-border;

        .pure-menu-link {
            margin-left: 0;
        }
    }

    /* Show the menu items on the larger screen */
    .nav-inner {
        display: block;
        padding: 2em 0;
    }

    /* Hide the "Menu" button on larger screens */
    #nav #menuToggle {
        display: none;
    }

    #list {
        margin-left: -350px;
        width: 100%;
        height: 33%;
        border-bottom: @lightgrey-border;
    }

    #main {
        position: fixed;
        top: 33%;
        right: 0;
        bottom: 0;
        left: 200px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }

    #logo {
        font-size: 1.4em;
        padding: 1em;
    }
    .card {
        border-radius: 8px;
        border: 1px solid @grey-border;
        margin: 30px 30px auto -320px;
        min-height: 500px;
        min-width: 345px;
        // width: 100%;
    }
    #wallet-group-main {
        margin-right: 34px;
    }
    #wallet-group-depths {

    }
    #tooltip {
        top: 8px;
        left: 8px;
        max-width: 350px;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 70em) {

    /* This will take up the entire height, and be a little thinner */
    #list {
        margin-left: -350px;
        width:350px;
        height: 100%;
        border-right: @lightgrey-border;
    }

    /* This will now take up it's own column, so don't need position: fixed; */
    #main {
        min-width: 550px;
        position: static;
        margin: 0;
        padding: 0;
    }
}

.nav-count {
    color: rgb(75, 113, 151);
}
