@grey-border: 1px solid #ddd;

body {
    color: #333;
    background: rgb(72 146 203 / 85%);
}

a {
    text-decoration: none;
    color: #1b98f8;
}

/*
 * -- HELPER STYLES --
 * Over-riding some of the .pure-button styles to make my buttons look unique
 */
.pure-button, .secondary-button {
    box-shadow: none;
    border-radius: 20px;
}
.pure-button {
    color: #eee;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #eee;
    border: @grey-border;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}

.wallet-buttons {
    margin: -10px 0 15px 0;
    text-align: center;
}

.BalanceIndicator {
    background: #eee;
    color: #666;
    font-size: 0.9em;
    float: right;
    border: 1px solid #bbb;
    display: inline;
    padding: 10px;
    border-radius: 10px;
}

.menu-divider {
    border-top: 1px solid #555;
    margin-top: 16px;
    padding-top: 23px;
}

.wallet-button {
    margin-right: 5px;
}

#logo {
    color: #eee;
    display: block;
    font-size: 1.1em;
    margin-left: 0.5em;
    padding: .6em 1em;
    position: absolute;
}

#menuToggle {
    font-size: 2em;
    display: block;
    top: 0em;
    right: 0em;
    position: absolute;
    padding: 0 10px;
    color: #eee;
}

.connect-file-input {
    display: none;
}

.ButtonConnect {
    margin: 30px 0 0 0;
}

#main .content-info {
    text-align: center;
    padding: 25px;
}

.card {
    background: #f5f5f5;
    padding: 2em;
    h1 {
        margin-top: 0;
    }
}

.wallet-table {
    border: 0;
    td {
        border: 0;
        &:first-child {
            font-weight: bold;
        }
    }
}

/*
 * -- LAYOUT STYLES --
 * This layout consists of three main elements, `#nav` (navigation bar), `#list` (email list), and `#main` (email content). All 3 elements are within `#layout`
 */
#layout, #nav, #list, #main {
    margin: 0;
    padding: 0;
}

/* Make the navigation 100% width on phones */
#nav {
    width: 100%;
    height: 40px;
    position: relative;
    background: rgb(37, 42, 58);
    text-align: center;

    /* When "Menu" is clicked, the navbar should be 80% height */
    &.active {
        height: 80%;
    }

    /* Show the "Menu" button on phones */
    .nav-menu-button {
        display: block;
        top: 0.5em;
        right: 0.5em;
        position: absolute;
    }
}
/* Don't show the navigation items... */
.nav-inner {
    display: none;
}

/* ...until the "Menu" button is clicked */
#nav.active .nav-inner {
    display: block;
    padding: 2em 0;
}


/*
 * -- NAV BAR STYLES --
 * Styling the default .pure-menu to look a little more unique.
 */
#nav {
    .pure-menu {
        background: transparent;
        border: none;
        // text-align: left;
    }
    .pure-menu-link {
        color: #eee;
        margin-left: 0.5em;
        &:hover, &:focus {
            background: rgb(55, 60, 90);
        }
    }
    .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(75, 113, 151);
    }
    .pure-menu-list {
        margin-top: 5px;
    }
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {

    /* Move the layout over so we can fit the nav + list in on the left */
    #layout {
        padding-left:550px; /* "left col (nav + list)" width */
        position: relative;
    }

    /* These are position:fixed; elements that will be in the left 500px of the screen */
    #nav, #list {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
    }
    #nav {
        margin-left:-550px; /* "left col (nav + list)" width */
        width: 200px;
        height: 100%;
    }

    /* Show the menu items on the larger screen */
    .nav-inner {
        display: block;
        padding: 2em 0;
    }

    /* Hide the "Menu" button on larger screens */
    #nav #menuToggle {
        display: none;
    }

    #list {
        margin-left: -350px;
        width: 100%;
        height: 33%;
        border-bottom: @grey-border;
    }

    #main {
        position: fixed;
        top: 33%;
        right: 0;
        bottom: 0;
        left: 200px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }

    #logo {
        font-size: 1.4em;
        padding: 1em;
    }
    .card {
        border-radius: 8px;
        box-shadow: -1px -1px 8px #33668d;
        margin: 30px 30px auto -320px;
        min-height: 500px;
        width: 500px;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 70em) {

    /* This will take up the entire height, and be a little thinner */
    #list {
        margin-left: -350px;
        width:350px;
        height: 100%;
        border-right: @grey-border;
    }

    /* This will now take up it's own column, so don't need position: fixed; */
    #main {
        min-width: 550px;
        position: static;
        margin: 0;
        padding: 0;
    }
}

/*
 * -- EMAIL STYLES --
 * Styles relevant to the email messages, labels, counts, and more.
 */
.email-count {
    color: rgb(75, 113, 151);
}

.email-label-personal,
.email-label-work,
.email-label-travel {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 0.5em;
    border-radius: 3px;
}
.email-label-personal {
    background: #ffc94c;
}
.email-label-work {
    background: #41ccb4;
}
.email-label-travel {
    background: #40c365;
}


/* Email Item Styles */
.email-item {
    padding: 0.9em 1em;
    border-bottom: @grey-border;
    border-left: 7px solid transparent;
    &:hover {
        background: #ebebeb;
        cursor: pointer;
    }
}
    .email-avatar {
        border-radius: 3px;
        margin-right: 0.5em;
    }
    .email-name,
    .email-subject {
        margin: 0;
    }
    .email-subject {
        text-transform: capitalize;
    }
    .email-name {
        color: #999;
    }
    .email-desc {
        font-size: 80%;
        margin: 0.4em 0;
    }

.email-item-selected {
    background: #eee;
}
.email-item-unread {
    border-left: 7px solid #1b98f8;
}

/* Email Content Styles */
.email-content-header, .email-content-body, .email-content-footer {
    padding: 1em 2em;
}
    .email-content-header {
        border-bottom: @grey-border;
    }

        .email-content-title {
            margin: 0.5em 0 0;
        }
        .email-content-subtitle {
            font-size: 1em;
            margin: 0;
            font-weight: normal;
        }
            .email-content-subtitle span {
                color: #999;
            }
    .email-content-controls {
        margin-top: 2em;
        text-align: right;
    }
        .email-content-controls .secondary-button {
            margin-bottom: 0.3em;
        }

    .email-avatar {
        width: 40px;
        height: 40px;
    }

.email-content-body {
    textarea {
        background: inherit;
        border-radius: 10px;
        border: @grey-border;
        font-family: monospace;
        line-height: 1.5em;
        height: 300px;
        padding: 10px;
        width: 97%;
        &:hover {
            cursor: default;
        }
    }
}
